<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mctpay.wallet.mapper.system.SendEmailLogMapper">

    <sql id="Base_Column_List">
	    id, business_types, accept_email, email_content, send_time</sql>

    <select id="get" resultType="com.mctpay.wallet.model.entity.system.SendEmailLogEntity">
        select
        <include refid="Base_Column_List"/>
        from mct_send_email_log where id = #{value}
    </select>

    <sql id="where">
        <where>
            <include refid="baseWhere"></include>
        </where>
    </sql>

    <sql id="baseWhere">
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="businessTypes != null">
            and business_types = #{businessTypes}
        </if>
        <if test="acceptEmail != null">
            and accept_email = #{acceptEmail}
        </if>
        <if test="emailContent != null">
            and email_content = #{emailContent}
        </if>
        <if test="sendTime != null">
            and send_time = #{sendTime}
        </if>
    </sql>

</mapper>