<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mctpay.wallet.mapper.system.ShippingAddressMapper">

    <sql id="Base_Column_List">
	id,user_id,nickname,phone_number,province,city,district,address,preferred,status,create_time,update_time        </sql>

    <select id="get" resultType="com.mctpay.wallet.model.entity.system.ShippingAddressEntity">
        select
        <include refid="Base_Column_List"/>
        from wallet_shipping_address where id = #{value}
    </select>

    <sql id="where">
        <where>
            <include refid="baseWhere"></include>
        </where>
    </sql>

    <sql id="baseWhere">
            user_id = #{userId}
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="nickname != null">
            and nickname = #{nickname}
        </if>
        <if test="phoneNumber != null">
            and phone_number = #{phoneNumber}
        </if>
        <if test="province != null">
            and province = #{province}
        </if>
        <if test="city != null">
            and city = #{city}
        </if>
        <if test="district != null">
            and district = #{district}
        </if>
        <if test="address != null">
            and address = #{address}
        </if>
        <if test="preferred != null">
            and preferred = #{preferred}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="createTime != null">
            and create_time = #{createTime}
        </if>
        <if test="updateTime != null">
            and update_time = #{updateTime}
        </if>
    </sql>

    <insert id="insert" parameterType="com.mctpay.wallet.model.param.ShippingAddressParam">
        insert into wallet_shipping_address
        (
        user_id, nickname, phone_number, province, city, district, address, preferred, status, create_time, update_time
        )
        values
        (
        #{userId},
        #{nickname},
        #{phoneNumber},
        #{province},
        #{city},
        #{district},
        #{address},
        #{preferred},
        #{status},
        #{createTime},
        #{updateTime}
        )
    </insert>

    <select id="list" resultType="com.mctpay.wallet.model.entity.system.ShippingAddressEntity">
        select
        <include refid="Base_Column_List"/>
        from wallet_shipping_address
        <include refid="where"/>
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(*) from wallet_shipping_address
        <include refid="where"/>
    </select>


    <sql id="baseUpdate">
        <set>
            <if test="userId != null">`user_id` = #{userId},
            </if>
            <if test="nickname != null">`nickname` = #{nickname},
            </if>
            <if test="phoneNumber != null">`phone_number` = #{phoneNumber},
            </if>
            <if test="province != null">`province` = #{province},
            </if>
            <if test="city != null">`city` = #{city},
            </if>
            <if test="district != null">`district` = #{district},
            </if>
            <if test="address != null">`address` = #{address},
            </if>
            <if test="preferred != null">`preferred` = #{preferred},
            </if>
            <if test="status != null">`status` = #{status},
            </if>
            <if test="updateTime != null">`update_time` = #{updateTime}
            </if>
        </set>
    </sql>

    <update id="update" parameterType="com.mctpay.wallet.model.param.ShippingAddressParam">
        update wallet_shipping_address
        <include refid="baseUpdate"></include>
        where id = #{id}
    </update>

    <delete id="delete">
		UPDATE wallet_shipping_address
		SET status = 0
		where id = #{value}
	</delete>

    <delete id="deleteBatch">
        UPDATE wallet_shipping_address
        SET status = 0 where id in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>