<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mctpay.merchant.mapper.card.MerchantCardMapper">

    <update id="updateMerchantCard">
        UPDATE merchant_card SET
        <if test="cardName != null">
            card_name = #{cardName},
        </if>
        <if test="reduceAmount != null">
            type_code = #{typeCode},
        </if>
        <if test="typeName != null">
            type_name = #{typeName},
        </if>
        reduced_type = #{reducedType},
        <if test="reduceAmount != null">
            reduce_amount = #{reduceAmount},
        </if>
        <if test="reduceAmount != null">
            min_amount = #{minAmount},
        </if>
        <if test="reduceAmount != null">
            reduce_rate = #{reduceRate},
        </if>
        <if test="reduceAmount != null">
            deadline = #{deadline},
        </if>
        <if test="reduceAmount != null">
            require_member_level_code = #{requireMemberLevelCode},
        </if>
        <if test="reduceAmount != null">
            inventory_count = #{inventoryCount},
        </if>
        update_time = #{updateTime}
        WHERE id = #{id}
    </update>

    <!-- 卡券集合-->
    <select id="listCard" resultType="com.mctpay.merchant.model.entity.card.MerchantCardEntity">
        SELECT
        <include refid="Base_Column_List"/>
        FROM merchant_card
        WHERE status != 0
    </select>
    <!--
        添加
    -->
    <insert id="insertMerchantCard">
        INSERT INTO merchant_card( id, card_name, type_code, type_name, reduced_type, reduce_amount, min_amount, reduce_rate, deadline, require_member_level_code, inventory_count, update_time, status, create_time)
        VALUES (
            #{id},
            #{cardName},
            #{typeCode},
            #{typeName},
            #{reducedType},
            #{reduceAmount},
            #{minAmount},
            #{reduceRate},
            #{deadline},
            #{requireMemberLevelCode},
            #{inventoryCount},
            #{updateTime},
            #{status},
            #{createTime}
            )
    </insert>

    <sql id="Base_Column_List">
	    id, card_name, type_code, type_name, reduced_type, reduce_amount, min_amount, reduce_rate, deadline, require_member_level_code, inventory_count, update_time, status, create_time</sql>

    <select id="get" resultType="com.mctpay.merchant.model.entity.card.MerchantCardEntity">
        select
        <include refid="Base_Column_List"/>
        from merchant_card where id = #{value}
    </select>

    <sql id="where">
        <where>
            <include refid="baseWhere"></include>
        </where>
    </sql>

    <sql id="baseWhere">
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="cardName != null">
            and card_name = #{cardName}
        </if>
        <if test="typeCode != null">
            and type_code = #{typeCode}
        </if>
        <if test="typeName != null">
            and type_name = #{typeName}
        </if>
        <if test="reducedType != null">
            and reduced_type = #{reducedType}
        </if>
        <if test="reduceAmount != null">
            and reduce_amount = #{reduceAmount}
        </if>
        <if test="minAmount != null">
            and min_amount = #{minAmount}
        </if>
        <if test="reduceRate != null">
            and reduce_rate = #{reduceRate}
        </if>
        <if test="deadline != null">
            and deadline = #{deadline}
        </if>
        <if test="requireMemberLevelCode != null">
            and require_member_level_code = #{requireMemberLevelCode}
        </if>
        <if test="inventoryCount != null">
            and inventory_count = #{inventoryCount}
        </if>
        <if test="updateTime != null">
            and update_time = #{updateTime}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="createTime != null">
            and create_time = #{createTime}
        </if>
    </sql>

</mapper>