<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mctpay.pos.mapper.merchant.MerchantUserMapper">

    <sql id="Base_Column_List">
	    id, username, nickname, password, gender, phone_number, email, min_discount_rate, remark, status, create_time, update_time</sql>

    <!-- 根据邮箱获取用户 -->
    <select id="findMerchantUserByEmail" resultType="com.mctpay.pos.model.entity.merchant.MerchantUserEntity">
        select *from merchant_user where email = #{email} limit 0 , 1
    </select>
    <!-- 根据手机号码用户 -->
    <select id="findMerchantUserByPhone" resultType="com.mctpay.pos.model.entity.merchant.MerchantUserEntity">
        select * from merchant_user where phone_number = #{phone} limit 0 , 1
    </select>


    <!-- 修改密码 -->
    <update id="updatePassword">
        UPDATE merchant_user
        SET password = #{password}
        WHERE id = #{id}
    </update>




</mapper>