<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mctpay.pos.mapper.merchant.WalletTradeRecordMapper">


    <sql id="Base_Column_List">
	id, user_id, trade_no, status, create_time, update_time </sql>

    <select id="get" resultType="com.mctpay.pos.model.entity.merchant.WalletTradeRecordEntity">
        select
        <include refid="Base_Column_List"/>
        from wallet_trade_record where id = #{value}
    </select>

    <sql id="baseWhere">
        <if test="userId != null">
            and user_id = #{userId}
        </if>
        <if test="tradeNo != null">
            and trade_no = #{tradeNo}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="createTime != null">
            and create_time = #{createTime}
        </if>
        <if test="updateTime != null">
            and update_time = #{updateTime}
        </if>
    </sql>

    <insert id="insert">
        INSERT INTO wallet_trade_record
        (
       user_id, trade_no, status, create_time, update_time
        )
        VALUES
        (
        #{userId},
        #{tradeNo},
        #{status},
        #{createTime},
        #{updateTime}
        )
    </insert>

</mapper>