<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mctpay.pos.mapper.card.MerchantCardReceiveMapper">

    <sql id="Base_Column_List">
	id, redeem_code, card_id, user_id, receive_time, use_state_type, locked, status, create_time, update_time        </sql>

    <!-- 修改卡券的使用状态 -->
    <update id="updateUseStateByRedeenCode">
        UPDATE merchant_card_receive
        SET use_state_type = #{state},
        trade_no = #{tradeNo}
        WHERE status != 0
        AND redeem_code = #{redeemCode}
    </update>


    <select id="get" resultType="com.mctpay.pos.model.entity.card.MerchantCardReceiveEntity">
        select
        <include refid="Base_Column_List"/>
        from merchant_card_receive where id = #{value}
    </select>

    <!-- 根据卡券id以及用户id获取兑换码 -->
    <select id="getRedeemCodeByCardIdAndUserId" resultType="java.lang.String">
        SELECT redeem_code
        FROM merchant_card_receive
        WHERE card_id = #{cardId}
        AND user_id = #{userId}
        AND status != 0
        AND use_state_type = 0
        limit 0, 1
    </select>

    <!-- 获取卡券使用历史 -->
    <select id="listCardUseHistory" resultType="com.mctpay.pos.model.entity.card.CardUseHistoryEntity">
      SELECT  distinct t0.redeem_code, t0.card_id, t0.update_time useTime, t0.trade_no,t1.card_name, t2.nickname walletName, t3.trans_amount
      FROM merchant_card_receive t0
      LEFT JOIN merchant_card t1
      ON t0.card_id = t1.id AND t1.merchant_id = #{merchantId} AND t1.`status` !=0
      LEFT JOIN wallet_user t2
      ON t0.user_id = t2.id AND t2.`status` != 0
      LEFT JOIN mct_trade_record t3
      ON t0.trade_no = t3.trade_no
      WHERE t0.`status` != 0
      AND t0.use_state_type = 1
      <if test="cardId != null and cardId != ''">
          AND t0.card_id = #{cardId}
      </if>
    </select>

    <sql id="baseWhere">
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="redeemCode != null">
            and redeem_code = #{redeemCode}
        </if>
        <if test="cardId != null">
            and card_id = #{cardId}
        </if>
        <if test="userId != null">
            and user_id = #{userId}
        </if>
        <if test="receiveTime != null">
            and receive_time = #{receiveTime}
        </if>
        <if test="useStateType != null">
            and use_state_type = #{useStateType}
        </if>
        <if test="locked != null">
            and locked = #{locked}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="createTime != null">
            and create_time = #{createTime}
        </if>
        <if test="updateTime != null">
            and update_time = #{updateTime}
        </if>
    </sql>

</mapper>