<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mctpay.pos.mapper.system.SmsCodeMapper">

    <sql id="Base_Column_List">
	id, phone_number, code, business_type, expiration_time, status, create_time, update_time</sql>

    <select id="get" resultType="com.mctpay.pos.model.entity.system.SmsCodeEntity">
        select
        <include refid="Base_Column_List"/>
        from mct_sms_code where id = #{value}
    </select>

    <sql id="where">
        <where>
            <include refid="baseWhere"></include>
        </where>
    </sql>

    <sql id="baseWhere">
        <if test="phoneNumber != null">
            and phone_number = #{phoneNumber}
        </if>
        <if test="code != null">
            and code = #{code}
        </if>
        <if test="businessType != null">
            and business_type = #{businessType}
        </if>
        <if test="expirationTime != null">
            and expiration_time = #{expirationTime}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="createTime != null">
            and create_time = #{createTime}
        </if>
        <if test="updateTime != null">
            and update_time = #{updateTime}
        </if>
    </sql>

    <!-- 获取短信验证码 -->
    <select id="getByPhoneAndBussinessType" resultType="com.mctpay.pos.model.entity.system.SmsCodeEntity">
        SELECT  <include refid="Base_Column_List"/>
        FROM mct_sms_code
        WHERE phone_number = #{phoneNumber} AND business_type = #{businessType}  AND status != 0
        ORDER BY id DESC
        limit 0, 1
    </select>

    <!-- 插入短信验证码 -->
    <insert id="insert" parameterType="com.mctpay.pos.model.param.SmsCodeParam" useGeneratedKeys="true"
            keyProperty="id">
        insert into mct_sms_code
        (
        phone_number, code, business_type, expiration_time, status, create_time, update_time
        )
        values
        (
        #{phoneNumber},
        #{code},
        #{businessType},
        #{expirationTime},
        #{status},
        #{createTime},
        #{updateTime}
        )
    </insert>

</mapper>