<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mctpay.manager.mapper.point.MemberLevelRulesMapper">


    <sql id="Base_Column_List">
	    id, member_level_name, member_level_code, point, last_operator, status, create_time, update_time</sql>

    <select id="get" resultType="com.mctpay.manager.model.entity.point.MemberLevelRulesEntity">
        select
        <include refid="Base_Column_List"/>
        from manager_member_level_rules where id = #{value}
    </select
    >

    <!-- 获取积分等级设置列表 -->
    <select id="listMemberLevelRules"
            resultType="com.mctpay.manager.model.entity.point.MemberLevelRulesEntity">
        SELECT  <include refid="Base_Column_List"/>
        FROM manager_member_level_rules
        WHERE status = 1
    </select>

    <sql id="where">
        <where>
            <include refid="baseWhere"></include>
        </where>
    </sql>

    <sql id="baseWhere">
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="memberLevelName != null">
            and member_level_name = #{memberLevelName}
        </if>
        <if test="memberLevelCode != null">
            and member_level_code = #{memberLevelCode}
        </if>
        <if test="point != null">
            and point = #{point}
        </if>
        <if test="lastOperator != null">
            and last_operator = #{lastOperator}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="createTime != null">
            and create_time = #{createTime}
        </if>
        <if test="updateTime != null">
            and update_time = #{updateTime}
        </if>
    </sql>

</mapper>