<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mctpay.merchant.mapper.system.UserMapper">

    <sql id="Base_Column_List">
	    id, username, nickname, password, gender, phone_number, email, min_discount_rate, remark, status, create_time, update_time</sql>

    <!-- 注册管理员 -->
    <insert id="insertUser">
        INSERT INTO merchant_user(
        id, username, nickname, password, phone_number, email, remark, status, create_time, update_time
        )
        VALUES (
        #{id},
        #{username},
        #{nickname},
        #{password},
        <!-- 保留字段 -->
        <!-- #{gender}, -->
        #{phoneNumber},
        #{email},
        #{remark},
        #{status},
        #{createTime},
        #{updateTime}
        )
    </insert>

    <!-- 激活，冻结用户 -->
    <update id="updateSwitchUser">
        UPDATE merchant_user
        SET status = #{state}
        WHERE id = #{userId}
    </update>

    <!-- 更新密码 -->
    <update id="updatePassword">
        UPDATE manager_user
        SET password = #{password}, status = #{status}
        WHERE id = #{id}
    </update>

    <select id="get" resultType="com.mctpay.merchant.model.entity.system.UserEntity">
        select
        <include refid="Base_Column_List"/>
        from merchant_user where id = #{value}
    </select>

    <!-- 判断邮箱是否被使用 -->
    <select id="countEmail" resultType="java.lang.Integer">
        SELECT count(*)
        FROM merchant_user
        WHERE email = #{email}
    </select>

    <!-- 判断手机号是否被使用 -->
    <select id="countPhoneNumber" resultType="java.lang.Integer">
        SELECT count(*)
        FROM merchant_user
        WHERE phone_number = #{phoneNumber}
    </select>

    <!-- 判断用户名是否被使用 -->
    <select id="countUserName" resultType="java.lang.Integer">
        SELECT count(*)
        FROM merchant_user
        WHERE username = #{userName}
    </select>

    <!-- 根据手机号获取用户 -->
    <select id="getByPhoneNumber" resultType="com.mctpay.merchant.model.entity.system.UserEntity">
        SELECT id, nickname, password, phone_number, email, remark, status
        FROM merchant_user
        WHERE phone_number = #{username}
    </select>

    <!-- 根据邮箱获取用户 -->
    <select id="getByEmail" resultType="com.mctpay.merchant.model.entity.system.UserEntity">
        SELECT id, nickname, password, phone_number, email, remark, status
        FROM merchant_user
        WHERE email = #{username}
    </select>

    <!-- 差选会员列表 -->
    <select id="listUser" resultType="com.mctpay.merchant.model.entity.system.UserEntity">
        SELECT
        <include refid="Base_Column_List"/>
        FROM merchant_user
        WHERE status != 0
    </select>

    <!-- 根据输入查询管理员信息 -->
    <select id="listUserByInput" resultType="com.mctpay.merchant.model.entity.system.UserEntity">
        SELECT
        <include refid="Base_Column_List"/>
        FROM (SELECT id, username, nickname, password, gender, phone_number, email, remark, status, create_time,
        update_time, CONCAT(username, nickname, remark) AS content
        FROM merchant_user ) t0
        WHERE status != 0
        <if test="inputContent != null and inputContent != ''">
            AND content LIKE CONCAT('%', #{inputContent}, '%')
        </if>

    </select>

    <sql id="where">
        <where>
            <include refid="baseWhere"></include>
        </where>
    </sql>

    <sql id="baseWhere">
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="username != null">
            and username = #{username}
        </if>
        <if test="nickname != null">
            and nickname = #{nickname}
        </if>
        <if test="password != null">
            and password = #{password}
        </if>
        <if test="gender != null">
            and gender = #{gender}
        </if>
        <if test="phoneNumber != null">
            and phone_number = #{phoneNumber}
        </if>
        <if test="email != null">
            and email = #{email}
        </if>
        <if test="minDiscountRate != null">
            and min_discount_rate = #{minDiscountRate}
        </if>
        <if test="remark != null">
            and remark = #{remark}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="createTime != null">
            and create_time = #{createTime}
        </if>
        <if test="updateTime != null">
            and update_time = #{updateTime}
        </if>
    </sql>

</mapper>