<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mctpay.wallet.com.mctpay.manager.mapper.point.SummaryPointMapper">

    <sql id="Base_Column_List">
	    id, user_id, point, status, create_time, update_time</sql>

    <select id="get" resultType="com.mctpay.wallet.model.entity.point.SummaryPointEntity">
        select
        <include refid="Base_Column_List"/>
        from manager_summary_point where id = #{value}
    </select>

    <!-- 初始化汇总信息 -->
    <insert id="initUserSummaryPoint">
        INSERT INTO manager_summary_point( user_id, point, status, create_time, update_time)
        VALUES (
            #{userId},
            #{point},
            #{status},
            #{createTime},
            #{updateTime}
        )
    </insert>

    <sql id="where">
        <where>
            <include refid="baseWhere"></include>
        </where>
    </sql>

    <sql id="baseWhere">
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="memberId != null">
            and member_id = #{memberId}
        </if>
        <if test="point != null">
            and point = #{point}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="createTime != null">
            and create_time = #{createTime}
        </if>
        <if test="updateTime != null">
            and update_time = #{updateTime}
        </if>
    </sql>
</mapper>