<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mctpay.manager.mapper.system.RoleMapper">

    <sql id="Base_Column_List">
	    id, role_name, description, status, create_time, update_time</sql>

    <!-- 创建角色 -->
    <insert id="insertRole" useGeneratedKeys="true" keyProperty = "id">
        INSERT INTO mct_role(role_name, description, status, create_time, update_time)
        VALUES (
            #{roleName},
            #{description},
            #{status},
            #{createTime},
            #{updateTime}
        )
    </insert>

    <select id="get" resultType="com.mctpay.manager.model.entity.system.RoleEntity">
        SELECT
        <include refid="Base_Column_List"/>
        from mct_role where id = #{value}
    </select>

    <!-- 获取用户角色 -->
    <select id="getByUserId" resultType="com.mctpay.manager.model.entity.system.RoleEntity">
        SELECT role.id, role.role_name, role.description
        FROM mct_user_role userrole, mct_role role, manager_user manageruser
        WHERE userrole.role_id = role.id AND manageruser.id = #{id}
    </select>

    <!-- 根据就是名获取 -->
    <select id="getByRoleName" resultType="com.mctpay.manager.model.entity.system.RoleEntity">
        SELECT  <include refid="Base_Column_List"/>
        from mct_role
        where role_name = #{roleName}
        AND status != 0
    </select>

    <sql id="where">
        <where>
            <include refid="baseWhere"></include>
        </where>
    </sql>

    <sql id="baseWhere">
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="roleName != null">
            and role_name = #{roleName}
        </if>
        <if test="description != null">
            and description = #{description}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="createTime != null">
            and create_time = #{createTime}
        </if>
        <if test="updateTime != null">
            and update_time = #{updateTime}
        </if>
    </sql>

</mapper>