<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mctpay.manager.mapper.system.RoleMapper">

    <sql id="Base_Column_List">
	    id, role_name, description, status, create_time, update_time</sql>

    <select id="get" resultType="com.mctpay.manager.model.entity.system.RoleEntity">
        select
        <include refid="Base_Column_List"/>
        from mct_role where id = #{value}
    </select>

    <sql id="where">
        <where>
            <include refid="baseWhere"></include>
        </where>
    </sql>

    <sql id="baseWhere">
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="roleName != null">
            and role_name = #{roleName}
        </if>
        <if test="description != null">
            and description = #{description}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="createTime != null">
            and create_time = #{createTime}
        </if>
        <if test="updateTime != null">
            and update_time = #{updateTime}
        </if>
    </sql>

</mapper>