<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mctpay.wallet.model.entity.point.PointResetEntity">

    <sql id="Base_Column_List">
	    id, reset_time, operator, status, create_time, update_time</sql>

    <!-- 插入积分等级设置 -->
    <insert id="insert">
        INSERT INTO manager_point_reset(
        <include refid="Base_Column_List"/>
        )VALUES (
            #{id},
            #{resetTime},
            #{operator},
            #{status},
            #{createTime},
            #{updateTime}
        )
    </insert>

    <select id="get" resultType="com.mctpay.wallet.model.entity.point.PointResetEntity">
        select
        <include refid="Base_Column_List"/>
        from manager_point_reset where id = #{value}
        AND status != 0
    </select>

    <!-- 分页查询积分等级设置 -->
    <select id="listPointReset" resultType="com.mctpay.wallet.model.entity.point.PointResetEntity">
        select
        <include refid="Base_Column_List"/>
        from manager_point_reset
        where status != 0
    </select>

    <!-- 激活，冻结，删除会员积分等级设置 -->
    <update id="switchPointReset">
        UPDATE manager_point_reset
        SET status = #{state}, operator = #{operator}, update_time =#{updateTime}
        WHERE id = #{pointResetId}
    </update>

    <sql id="where">
        <where>
            <include refid="baseWhere"></include>
        </where>
    </sql>

    <sql id="baseWhere">
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="resetTime != null">
            and reset_time = #{resetTime}
        </if>
        <if test="operator != null">
            and operator = #{operator}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="createTime != null">
            and create_time = #{createTime}
        </if>
        <if test="updateTime != null">
            and update_time = #{updateTime}
        </if>
    </sql>

</mapper>