<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mctpay.wallet.mapper.point.SummaryPointMapper">

    <sql id="Base_Column_List">
	    id, user_id, point, status, create_time, update_time</sql>

    <select id="get" resultType="com.mctpay.wallet.model.entity.point.SummaryPointEntity">
        select
        <include refid="Base_Column_List"/>
        from manager_summary_point where id = #{value}
    </select>

    <!-- 根据用户id获取 -->
    <select id="getByUserId" resultType="com.mctpay.wallet.model.entity.point.SummaryPointEntity">
        select
        t0.*, t1.member_level_name
        from manager_summary_point t0, manager_member_level_rules t1
        where t0.user_id = #{userId}
        AND t0.point &gt;= t1.point
        AND t0.status != 0
		AND t1.status != 0
        ORDER BY point DESC
        limit 0, 1
    </select>

    <!-- 获取下一级所需积分 -->
    <select id="getNextNeedPoint" resultType="java.lang.Integer">
        select
        point
        from  manager_member_level_rules
        WHERE point &gt; #{point}
        AND status != 0
        ORDER BY point ASC
        limit 0,1
    </select>

    <!-- 初始化汇总信息 -->
    <insert id="initUserSummaryPoint">
        INSERT INTO manager_summary_point( user_id, point, status, create_time, update_time)
        VALUES (
            #{userId},
            #{point},
            #{status},
            #{createTime},
            #{updateTime}
        )
    </insert>

    <sql id="where">
        <where>
            <include refid="baseWhere"></include>
        </where>
    </sql>

    <sql id="baseWhere">
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="memberId != null">
            and member_id = #{memberId}
        </if>
        <if test="point != null">
            and point = #{point}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="createTime != null">
            and create_time = #{createTime}
        </if>
        <if test="updateTime != null">
            and update_time = #{updateTime}
        </if>
    </sql>
</mapper>