<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mctpay.wallet.mapper.card.MerchantCardVerifyCancelMapper">

    <sql id="Base_Column_List">
	   id, card_id, redeem_code, user_id, use_time, status, create_time, update_time        </sql>

    <select id="get" resultType="com.mctpay.wallet.model.entity.card.MerchantCardVerifyCancelEntity">
        select
        <include refid="Base_Column_List"/>
        from merchant_card_verify_cancel where id = #{value}
    </select>

    <sql id="baseWhere">
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="cardId != null">
            and card_id = #{cardId}
        </if>
        <if test="redeemCode != null">
            and redeem_code = #{redeemCode}
        </if>
        <if test="userId != null">
            and user_id = #{userId}
        </if>
        <if test="useTime != null">
            and use_time = #{useTime}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="createTime != null">
            and create_time = #{createTime}
        </if>
        <if test="updateTime != null">
            and update_time = #{updateTime}
        </if>
    </sql>

</mapper>