<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mctpay.wallet.mapper.card.MerchantCardMapper">

    <!-- 卡券集合-->
    <select id="listCardByInput" resultType="com.mctpay.wallet.model.entity.card.MerchantCardEntity">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        (SELECT
        <include refid="Base_Column_List"/>, concat(card_name,reduce_amount,type_name,min_amount,deadline,reduce_type, reduce_amount,reduce_rate, require_member_level_name) content
        FROM
        merchant_card
        ) t0 WHERE status != 0
        <if test="inputContent != null and inputContent != ''">
            AND content LIKE CONCAT('%', #{inputContent} , '%')
        </if>
    </select>
    <!--
        添加
    -->
    <select id="listMerchantCard" resultType="com.mctpay.wallet.model.entity.card.MerchantCardEntity">
        SELECT <include refid="Base_Column_List"/>
        FROM merchant_card
        WHERE merchant_id = #{value}
        AND status != 0
        ORDER BY id DESC
    </select>

    <sql id="Base_Column_List">
	    id, card_name, type_code, type_name, reduce_type, reduce_type_name, reduce_amount, min_amount, reduce_rate, deadline, require_member_level_code, require_member_level_name,inventory_count, update_time, status, create_time</sql>

    <select id="get" resultType="com.mctpay.wallet.model.entity.card.MerchantCardEntity">
        select
        <include refid="Base_Column_List"/>
        from merchant_card
        where id = #{value}
        AND status != 0
    </select>

    <update id="reduceInventoryCount" >
        UPDATE merchant_card
        SET inventory_count = #{inventoryCount} - 1
        WHERE status != 0
        AND id = #{cardId}
    </update>

    <sql id="where">
        <where>
            <include refid="baseWhere"></include>
        </where>
    </sql>

    <sql id="baseWhere">
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="cardName != null">
            and card_name = #{cardName}
        </if>
        <if test="typeCode != null">
            and type_code = #{typeCode}
        </if>
        <if test="typeName != null">
            and type_name = #{typeName}
        </if>
        <if test="reduceType != null">
            and reduce_type = #{reduceType}
        </if>
        <if test="reduceAmount != null">
            and reduce_amount = #{reduceAmount}
        </if>
        <if test="minAmount != null">
            and min_amount = #{minAmount}
        </if>
        <if test="reduceRate != null">
            and reduce_rate = #{reduceRate}
        </if>
        <if test="deadline != null">
            and deadline = #{deadline}
        </if>
        <if test="requireMemberLevelCode != null">
            and require_member_level_code = #{requireMemberLevelCode}
        </if>
        <if test="inventoryCount != null">
            and inventory_count = #{inventoryCount}
        </if>
        <if test="updateTime != null">
            and update_time = #{updateTime}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="createTime != null">
            and create_time = #{createTime}
        </if>
    </sql>

</mapper>