<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mctpay.manager.mapper.template.ReserveTemplateMapper">


    <sql id="Base_Column_List">
	    id, template_name, phone_nmuber, reserve_time, user_count, comment, need_deposit, deposit_amount, need_picture, dynamic_field, status, create_time, update_time</sql>

    <!-- 插入模板 -->
    <insert id="insert">
        INSERT INTO mct_reserve_template(template_name, phone_nmuber, reserve_time, user_count, comment, need_deposit, deposit_amount, need_picture, dynamic_field, status, create_time, update_time)
        VALUES (
            #{templateName},
            #{phoneNmuber},
            #{reserveTime},
            #{userCount},
            #{comment},
            #{needDeposit},
            #{depositAmount},
            #{needPicture},
            #{dynamicField, jdbcType=OTHER,typeHandler=com.mctpay.common.base.mapper.JsonTypeHandler},
            #{status},
            #{createTime},
            #{updateTime}
        )

    </insert>

    <select id="get" resultType="com.mctpay.manager.model.entity.template.ReserveTemplateEntity">
        select
        <include refid="Base_Column_List"/>
        from mct_reserve_template where id = #{value}
    </select>

    <sql id="where">
        <where>
            <include refid="baseWhere"></include>
        </where>
    </sql>

    <sql id="baseWhere">
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="templateName != null">
            and template_name = #{templateName}
        </if>
        <if test="phoneNmuber != null">
            and phone_nmuber = #{phoneNmuber}
        </if>
        <if test="reserveTime != null">
            and reserve_time = #{reserveTime}
        </if>
        <if test="userCount != null">
            and user_count = #{userCount}
        </if>
        <if test="comment != null">
            and comment = #{comment}
        </if>
        <if test="needDeposit != null">
            and need_deposit = #{needDeposit}
        </if>
        <if test="depositAmount != null">
            and deposit_amount = #{depositAmount}
        </if>
        <if test="needPicture != null">
            and need_picture = #{needPicture}
        </if>
        <if test="dynamicField != null">
            and dynamic_field = #{dynamicField}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="createTime != null">
            and create_time = #{createTime}
        </if>
        <if test="updateTime != null">
            and update_time = #{updateTime}
        </if>
    </sql>

</mapper>