<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mctpay.manager.mapper.template.ShowPictureMapper">


    <!-- 修改状态 -->
    <update id="updateSwitchShowPicturer">
        UPDATE mct_show_picture
        SET status = #{status}
        WHERE id = #{showPicturerId}
    </update>

    <!-- 获取所有轮播图 -->
    <select id="listShowPicturer" resultType="com.mctpay.manager.model.entity.template.ShowPictureEntity">
        SELECT
        <include refid="Base_Column_List"/>
        FROM mct_show_picture
        WHERE status != 0
        AND use_type_code = #{useTypeCode}
    </select>

    <!--
        插入轮播广告
    -->
    <insert id="insertShowPicturer">
        INSERT INTO mct_show_picture(<include refid="Base_Column_List"/>)
        VALUES (
        #{id},
        #{useTypeCode},
        #{useTypeName},
        #{address},
        #{sdkType},
        #{status},
        #{createTime},
        #{updateTime}
        )
    </insert>

    <sql id="Base_Column_List">
	    id, use_type_code, use_type_name, address, sdk_type, status, create_time, update_time</sql>

    <select id="get" resultType="com.mctpay.manager.model.entity.template.ShowPictureEntity">
        select
        <include refid="Base_Column_List"/>
        from mct_show_picture where id = #{value}
    </select>

    <sql id="where">
        <where>
            <include refid="baseWhere"></include>
        </where>
    </sql>

    <sql id="baseWhere">
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="useTypeCode != null">
            and use_type_code = #{useTypeCode}
        </if>
        <if test="useTypeName != null">
            and use_type_name = #{useTypeName}
        </if>
        <if test="address != null">
            and address = #{address}
        </if>
        <if test="sdkType != null">
            and sdk_type = #{sdkType}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="createTime != null">
            and create_time = #{createTime}
        </if>
        <if test="updateTime != null">
            and update_time = #{updateTime}
        </if>
    </sql>

</mapper>